script:
- set -o pipefail && xcodebuild test -scheme TestApplication -destination "platform=iOS Simulator,name=iPhone SE,OS=10.3.1" -destination-timeout 1 ONLY_ACTIVE_ARCH=NO | xcpretty
- pod lib lint

language: objective-c
osx_image: xcode8.3
